<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eunice_taskII</title>
</head>
<body>
    <h1>Bulbasaur content</h1>
    <% gameData["sprites"].forEach(function(pokeInform) { %>
        <li><%= pokeInform["back_default"] %></li>
        <br>
        <li><%=pokeInform["effort"] %></li>
    <% }) %>
</body>
</html>