<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="bulba.css">
</head>
<body>
    <ol id="firstPoke">
        <li>Bulbasaur</li>
    </ol>
    
    <script src="bulba.js"></script>   
</body>
</html>