<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
  <body>
<body>
    <form action="/" method="post">
      <h1>Pokemon characters and their information</h1>
      <table>
        <script type="handlebars-table" id="pokeTable">
        <thead>
          <tr>
            {{#each array}}
            <th>{{@key}}</th>
            {{/each}}
          </tr> 
        </thead>
        <tbody>
          {{#each array}}
          <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
          </tr>
        </tbody>
      </table>
    </script>
    </form>
    <script src="main.js"></script>
  </body>
</html>