<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
  <body>
<body>
    <form action="/" method="post">
     <div id="container__1">
        <div>
          <h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="logo" width="300" height="100">
          </h1>
        </div>
      </div>
    <div id="container__2">
      <h1>Search your Pokemon</h1>
      <input type="text" id="name" placeholder="Pokemon" name="poke_mon">
      <br>
      <button id="click">Submit</button>
    </div>
    </form>
    <script src="../public/main.js"></script>
  </body>
</html>