<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
  <body>
    <form action="/" method="post">
    <div id="container">
      <input type="text" id="pokeData">
    </div>
    <div>
      <button id="myButton">Click</button>
    </div>
    </form>
    <script src="../public/main.js"></script>
  </body>
</html>