<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h4>Navigation</h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="#">Characters</a>
            </li>
            <li>
                <a href="#">Fun</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <!-- <button id="pokeBtn" class="button">Pokemon search</button>
    <div id="pokeModal" class="modal">
        <div class="pokeContent">
            <span class="closeBtn">&times;</span>
            <p>
                <img src="https://assets.pokemon.com//assets/cms2-en-uk/img/misc/_tiles/pokemon-playhouse/pokemon-playhouse-169-en.jpg" alt="PokemonImage" height="150" width="200">
                <br>
                Got a younger Pokémon fan at home looking 
                for their own way to have fun? Be sure to 
                check out <a href="https://www.pokemon.com/uk/app/pokemon-playhouse/">Pokémon Playhouse</a>, a mobile app 
                geared toward children ages 3–5. It's filled 
                with adorable Pokémon and fun activities.
            </p>
        </div>
    </div> -->
    <br>
    <table id = "gameData">
        <thead>
            <tr>
                <th>My Pokemon Table</th>
            </tr>
        </thead>
    </table>
    <script src="main.js"></script>
</body>
</html>