<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <table id = "gameData">
        <thead>
            <tr>
                <th>My Pokemon Table</th>
            </tr>
        </thead>
    </table>
    <button class="click-btn">Click me!</button>
    <script src="main.js"></script>
</body>
</html>