<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <table id = "gameData">
        <thead>
            <tr>
                <th>My Pokemon Table</th>
            </tr>
        </thead>
    </table>

    <button id="pokeBtn">Pokemon Button</button>
    <div id="pokeModal" class="modal">
        <div class="myContent">
            <span class="close">&times;</span>
            <p>Pokemon data 1-20</p>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>