<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eunice_task_II</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <h1>Search for pokemon</h1>
    <form action="/" method="GET">
        <input type="text" placeholder="search pokemon" name="search">
        <input type="submit">
    </form> 
    <h1>
        <% gameData["forms"].forEach(function(Pokemon) { %>
            <%= Pokemon["name"] %>
            <% }) %>
    </h1>
    <p>
        <%= gameData.sprites["front_shiny"] %>
    </p>
    <p>
        <% gameData["forms"].forEach(function(Pokemon) { %>
            <%= Pokemon["name"] %> - <%= Pokemon["url"] %>
            <% }) %>
    </p>
    <script src="main.js"></script>   
</body>
</html>


