body{
    background-image: url('https://images3.alphacoders.com/677/thumb-1920-677583.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(36, 40, 252);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


